{% extends 'base.html' %}
{% block description_and_title %}
<meta name="description" content="">
<title>{{ question_detail.title }}</title>
{% endblock %}
{% block search %}
{% endblock %}
{% block content %}
<div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="media text-muted pt-3">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <p>
                Если у вас есть вопросы или рекомендации по улучшению, пожалуйста обращайтесь к нам.<br>
                Мы обязательно ответим всем.
            </p>

            <p>Email: nadovmeste@mail.ru</p>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block script %}
{% endblock %}