{% extends 'base.html' %}
{% block description_and_title %}
<meta name="description" content="">
<title>{{ question_detail.title }}</title>
<link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Shared/stacks.css">
<link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Sites/stackoverflow/primary.css">
{% endblock %}
{% block content %}
<div class="my-3 p-3 bg-white rounded shadow-sm">
    {% if question_detail %}
    <div class="media text-muted pt-3">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <h1 class="mb-1">{{ question_detail.title }}</a></h1>
            {% autoescape off %}
            {{ question_detail.post }}
            {% endautoescape %}
        </div>
    </div>
</div>
{% else %}
<p>No app are available.</p>
{% endif %}
</div>
{% endblock %}
{% block script %}
<script>
function hide (elements) {
  elements = elements.length ? elements : [elements];
  try {
      for (var index = 0; index < elements.length; index++) {
        elements[index].style.display = 'none';
      }
  }
  catch {}
}
hide(document.getElementsByClassName('mt16 grid gs8 gsy fw-wrap jc-end ai-start pt4'));
hide(document.getElementsByClassName('grid s-btn-group js-filter-btn'));
hide(document.getElementsByClassName('js-show-link comments-link'));
hide(document.getElementsByClassName('comment-user'));
hide(document.getElementsByClassName('js-post-issue grid--cell s-btn s-btn__unset c-pointer py6 mx-auto'));
hide(document.getElementsByClassName('js-bookmark-btn s-btn s-btn__unset c-pointer py4 js-gps-track'));
hide(document.getElementsByClassName('post-taglist grid gs4 gsy fd-column'));
hide(document.getElementsByClassName('grid--cell fl1'));
hide(document.getElementsByClassName('js-voting-container grid fd-column ai-stretch gs4 fc-black-200'));
hide(document.getElementsByClassName('s-notice s-notice__info js-post-notice mb16'));

hide(document.querySelectorAll("#question > div.post-layout > div.postcell.post-layout--right > div.mb0"));
hide(document.querySelectorAll("#question > div.post-layout > div.postcell.post-layout--right > div.post-taglist.grid.gs4.gsy.fd-column"));
try {hide(document.querySelectorAll("a.js-add-link.comments-link.disabled-link"));} catch {hide(document.getElementsByClassName('grid mb0 fw-wrap ai-start jc-end gs8 gsy'));};
try {hide(document.querySelectorAll("div > div.answercell.post-layout--right > div.grid.mb0.fw-wrap.ai-start.jc-end.gs8.gsy"));} catch {hide(document.getElementsByClassName('grid mb0 fw-wrap ai-start jc-end gs8 gsy'));};

</script>
{% endblock %}