{% extends 'base.html' %}
{% block description_and_title %}
<meta name="description" content="Вопросы и ответы на компьютерную тематику">
<title>QA</title>
{% endblock %}

{% block content %}
<div class="col-md-6 col-sm-12 col-xs-12 py-4">
    <div class="card shadow-sm">
        <div class="card-header justify-content-between d-flex">
            <h4>Чаще всего ищут</h4>
        </div>

        <div class="card-body">
            <ul>


                <li>
                    <a href="/search/?q=ping" class="nav-link">Команда ping в терминале</a>
                </li>

                <li>
                    <a href="/search/?q=сервер" class="nav-link">Проблемы с сервером</a>
                </li>

                <li>
                    <a href="/search/?q=прокси" class="nav-link">Про прокси</a>
                </li>

                <li>
                    <a href="/search/?q=vpn" class="nav-link">Про VPN</a>
                </li>

                <li>
                    <a href="/search/?q=Windows" class="nav-link">Проблемы с Windows</a>
                </li>

                <li>
                    <a href="/search/?q=Шрифт" class="nav-link">Проблемы с шрифтами</a>
                </li>

                <li>
                    <a href="/search/?q=программы" class="nav-link">Проблемы с программами</a>
                </li>

                <li>
                    <a href="/search/?q=сайт" class="nav-link">Проблемы с сайтами</a>
                </li>

                <li>
                    <a href="/search/?q=ошибки" class="nav-link">Популярные ошибки в компьютерах</a>
                </li>

                <li>
                    <a href="/search/?q=вирусы" class="nav-link">Вирусы</a>
                </li>


            </ul>
            <br>
            <a href="/all">далее</a>
        </div>
    </div>
</div>
<div class="col-md-6 col-sm-12 col-xs-12 py-4">
    <div class="card shadow-sm">
        <div class="card-header justify-content-between d-flex">
            <h4>Обновленые вопросы</h4>
        </div>

        <div class="card-body">
            <ul>
                {% if latest_question_list %}
                {% for question in latest_question_list %}
                <li>
                    <a href="/{{ question.id }}/"
                       class="nav-link">{{ question.title }}</a>
                </li>
                {% endfor %}
                {% endif %}
            </ul>
            <br>
            <a href="/all">далее</a>
        </div>
    </div>
</div>
{% endblock %}
