{% extends 'base.html' %}
{% block description_and_title %}
    <meta name="description" content="Вопросы и ответы на компьютерную тематику">
    <title>QA</title>
    {% endblock %}
{% block content %}
<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Последние записи</h6>
    {% if latest_question_list %}
    {% for question in latest_question_list %}
    <div class="media text-muted pt-3">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <h5 class="mb-1"><a href="/{{ question.id }}/">{{ question.title }}</a></h5>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No app are available.</p>
    {% endif %}
    <small class="d-block text-right mt-3">
        <a href="#">Все записи</a>
    </small>
</div>
{% endblock %}

